<% title "Towers" %>

<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Towers</li>
</ol>

<div class="container">
	<h1 class="text-center">TOWERS</h1>
</div>


<div class="container">
	<% @towers.each do |tower| %>	
		<div class="col-md-4 towers-box">
			<a href="<%= tower_path(tower.id) %>">
				<div class="towers-button">
					<span class="towers-title"><%= tower.name.upcase %></span>
				</div>
			</a>
		</div>
	<% end %>
</div>