<% title "" %>
<%= render 'layouts/header' %>

<h2>Hello _User_!!!</h2>
<p>
  The time is now: <%= Time.now %>
</p>




<div>
<center> <a href="http://google.com"> <img src="/IT_tower.jpeg" height="200" width="400"> </img> </a> </center>
</div>

<div>
<center> <a href="http://google.com"> <img src="/Biz_tower.jpeg" height="200" width="400"> </img> </a> </center>
</div>