<% title "Home" %>
<%= render 'layouts/header' %>

<%= @user.name %>, <%= @user.email %>

<%= @progress %>


<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">Panel heading without title</div>
		<div class="panel-body">
			<h4>Label</h4>
			Panel content
		</div>
	</div>
</div>